Repository carbon-design-system/gatsby-theme-carbon, pull requests merged in 2020-01, with the labels that each got.

#615 fix: only italicize cite closes #612
  packages/example/src/pages/components/markdown.mdx
  packages/gatsby-theme-carbon/src/components/markdown/Markdown.module.scss
Labels: squad: aux, status: visual review 🔍

#611 Tabs refactor
  packages/example/src/pages/components/Tabs.mdx
  packages/gatsby-theme-carbon/package.json
  packages/gatsby-theme-carbon/src/components/Tabs/Tabs.js
  packages/gatsby-theme-carbon/src/components/Tabs/Tabs.module.scss
  packages/gatsby-theme-carbon/src/util/hooks/useId.js
  yarn.lock
Labels: squad: aux, status: visual review 🔍

#644 feat(do-dont): adds new components DoDontRow, Do, Dont with built in grid
  packages/example/src/data/nav-items.yaml
  packages/example/src/pages/components/DoDontRow.mdx
  packages/gatsby-theme-carbon/src/components/DoDontRow/DoDont.js
  packages/gatsby-theme-carbon/src/components/DoDontRow/DoDontRow.js
  packages/gatsby-theme-carbon/src/components/DoDontRow/DoDontRow.module.scss
  packages/gatsby-theme-carbon/src/components/DoDontRow/index.js
  packages/gatsby-theme-carbon/src/components/MDXProvider/defaultComponents.js
Labels: status: ready to merge 🎉

#674 fix(callout-component): add padding-top to p of first column
  packages/gatsby-theme-carbon/src/components/Homepage/Callout.module.scss
Labels: status: one more review 👀

#685 Remove target _blank in resource card and feature card
  packages/gatsby-theme-carbon/src/components/FeatureCard/FeatureCard.js
  packages/gatsby-theme-carbon/src/components/ResourceCard/ResourceCard.js
Labels: status: one more review 👀

#687 change position of button on sidebar
  packages/gatsby-theme-carbon/src/components/Code/Code.module.scss
Labels: status: one more review 👀
